h1 = @fish.title
div = link_to 'Back', fish_index_path
hr
h2 = "Categories"
div
  - @fish.category.each do |f|
    div = link_to "#{f.title}" , categories_path(f)
hr
h3 = "Description"
div = @fish.description
hr
h3 = "Stock"
div  = @fish.stock
hr
h3 = "Price"
hr
div = @fish.price

